.page-header {
  position: relative;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $border-color;
}
%adds__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation__link {
  // @extend %adds__link;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  color: $secondary-color-text;

  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    line-height: 1.14;
  }
}
.navigation__link--current {
  position: relative;

  color: $accent-color;
  @media screen and (min-width: 768px) {
    &::after {
      position: absolute;
      bottom: 0;
      display: block;

      content: "";
      border-radius: 2px;
      width: 100%;
      height: 4px;

      background-color: $accent-color;
    }
  }
}
// .adds {
//   // margin-top: 270px;
//   // display: none;
//   // display: flex;

// }
.adds-mob {
  margin-bottom: 64px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.adds-desktop {
  // @media screen and (max-width: 767px) {
  //   display: none;
  // }

  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.page-header__adds {
  margin-left: auto;
}
.navigation__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}
.adds__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.adds__link {
  // display: flex;
  // align-items: center;

  color: inherit;

  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-size: 24px;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: 768px) {
    line-height: 1.14;
    font-size: 14px;
    display: block;
  }
  @media screen and (min-width: 1200px) {
    // @extend %adds__link;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
  }
}
.adds__link--accent {
  color: $accent-color;
  font-size: 34px;
  line-height: 1.18;
}
.container--flex {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.container--flex-property {
  @media screen and (min-width: 768px) {
    align-items: center;
  }
}
.navigation {
  // margin-bottom: 270px;
  margin-top: 32px;

  // @extend .container--flex;
  @media screen and (min-width: 768px) {
    // margin-bottom: 0px;
    // display: flex;
    margin-top: 0px;
  }
}
.navigation-desktop {
  display: none;
  // @extend .container--flex;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.navigation-mob {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.site-nav {
  display: flex;
  align-items: center;
  // @extend .container--flex;
  // @extend .container--flex-property;
}
.adds__icon {
  fill: $primary-text-color;
  margin-right: 10px;

  .adds__link:hover &,
  .adds__link:focus & {
    fill: $accent-color;
  }
}
.menu-button {
  display: inline-flex;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 0;
  z-index: 10;
  padding: 0;
  border: none;
  background-color: transparent;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $accent-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  &.is-open {
    position: fixed;
    top: 0;
    right: 15px;
  }
}

.menu-button__cross {
  display: none;
  .menu-button.is-open & {
    display: block;
  }
}
.menu-button__menu {
  // display: block;

  .menu-button.is-open & {
    display: none;
  }
}

.menu-container {
  @media screen and (max-width: 768px) {
    display: none;
    // position: absolute;
    position: fixed;

    background-color: $primary-white-color;

    padding-left: 40px;
    top: 0;
    // top: 16px;
    left: 0;
    width: 100%;
    height: 100vh;
    // height: 100%;
    z-index: 1;
    text-align: left;
    font-size: 40px;

    &.is-open {
      // display: block;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: scroll;
      // @media screen and (orientation: landscape) {
      //   overflow-y: scroll;
      // }
    }
  }
}
.adds-container {
  display: block;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.adds-networks {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
// .adds-networks__item {
//   &:not(:last-child) {
//     margin-right: 20px;
//   }
// }
.adds-networks__link {
  color: $accent-color;
}
.adds-networks__separator {
  margin: 0 10px;
  color: $mob-color-accent;
}
