.logo__accent {
  color: $accent-color;

  // .menu-button.is-open & {
  //   display: none;
  // }
}

.logo {
  display: block;

  color: $logo-black-color;
  font-family: $font-family-Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  // .menu-button.is-open & {
  //   display: none;
  // }
}
.site-nav__logo {
  margin-right: 93px;
}
// .logo-desktop {
//   display: none;
//   @media screen and (min-width: 481px) {
//     display: block;
//   }
// }
