$font-family-Roboto: "Roboto", Arial, Tahoma, sans-serif;
$font-family-Raleway: "Raleway", sans-serif;
$primary-text-color: #757575;
$secondary-color-text: #212121;
$primary-white-color: #ffffff;
$logo-black-color: #000000;
$accent-color: #2196f3;
$accent-color-text: rgba(255, 255, 255, 0.6);
$button-grey-color: #f5f4fa;
$button-modal: rgba(0, 0, 0, 0.1);
$basement-bg-color: #2f303a;
$border-color: #ececec;
$bg-hero: #c4c4c4;
$bg-hero-gradient: rgba(47, 48, 58, 0.4);
$bg-btn-hover: #188ce8;
$bg-backdrop: rgba(0, 0, 0, 0.2);
$social-networks: #afb1b8;
$social-networks-footer: rgba(255, 255, 255, 0.1);
$overlay-color: rgba(47, 48, 58, 0.8);
$form-footer: rgba(255, 255, 255, 0.6);
$form-shadow-footer: rgba(0, 0, 0, 0.15);
$form-modal-grey: rgba(33, 33, 33, 0.2);
$form-modal-textarea: rgba(117, 117, 117, 0.5);
$mob-color-accent: rgba(33, 33, 33, 0.2);
